.tooltip {
  background: $monzaDark;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40rem;
  padding: 3rem;
  box-shadow:
    transparentize($mineShaft, 0.5) 0px 5px 5px,
    transparentize(lighten($mineShaft, 20%), 0.8) 0 -1px 5px;
  border-radius: 2px;
}

.tooltip__arrow {
  position: absolute;
  left: 50%;

  &::before {
    color: $monzaDark;
    text-align: center;
    line-height: 1;
    pointer-events: none;
    // text-shadow: transparentize($mineShaft, 0.5) 0px 7px 5px;
  }

  &--bottom {
    bottom: .1rem;
    &::before {
      content: '▼';
      transform: scale(2.5) translateY(100%);
      transform-origin: bottom;
    }
  }

  &--top {
    top: .1rem;
    &::before {
      content: '▲';
      transform: scale(2.5) translateY(-100%);
      transform-origin: top;
    }
  }
}
