$white: #fff;
$silverChalice: #a0a0a0;
$monza: #d0003e;
$monzaLight: lighten(desaturate($monza, 14%), 5%);
$monzaDark: darken(saturate($monza, 20%), 20%);

$alto: #ddd;
$mineShaft: #212121;
$mineShaftLight: lighten($mineShaft, 10%);


$celestial: #4f9bd0;
$jasper: #da394a;
$stormcloud: #4f7068;
$thistle: #e0c3d8;
$isabelline: #f7eced;
