@import 'variables';
@import 'reset';
@import 'common';
@import 'button';
@import 'headings';
@import 'header';
@import 'tooltip';
@import 'hero';
@import 'nav';
@import 'skillsIcons';
@import 'imgScroll';
@import 'clipText';

* {
  box-sizing: border-box;
}

body, html {
  font-size: 62.5%;
  background: $alto;
  color: $white;
  font-family: 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#react {
  font-size: 1.6rem;
}

.flex--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 4.4rem;
  small {
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    color: $monza;
    font-size: 2.8rem;
  }
}
